.vien {
    -fx-background-position: center;
    -fx-background-size: cover;
    -fx-background-color: #E1EE7F;
    -fx-background-image: url("vien.png");
}
.bodysearch {
    -fx-background-color: #FDFCE8;
    -fx-background-radius: 34px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}
.bodygioithieu {
    -fx-background-color: #E1EE7F;
    -fx-background-image: url("laclongquan.jpg");
    -fx-background-position: center;
    -fx-background-radius: 34px;
    // -fx-border-radius: 34px;
    -fx-border-width: 5px;
    -fx-border-color: #E1EE7F;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

.search {
    -fx-background-radius: 34px;
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}
.button {
    -fx-background-radius: 34px;
    -fx-background-color: #CBE54C;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}
.button:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}
    .button:hover {
        -fx-background-color: #5dfb6d;
        -fx-scale-y: 1.1;
    }